@font-face {
  font-family: PoppinsSB;
  src: url(../fonts/PoppinsSB.ttf);
}

@font-face {
  font-family: PoppinsRG;
  src: url(../fonts/Poppins-Regular.ttf);
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  background: white;
  font-family: 'PoppinsSB.ttf';
  margin: 0;
}