.btn:hover {
  background-color: white;
}

.register {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 90px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 50px;
    color: #006D82;
    border-radius: 10px;
}

.teks {
    font-family: "PoppinsSB.ttf";
    color: white;
}